@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #202124;
    font-family: "Poppins-Regular";
    color: white;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation__wrapper {
    width: 100%;
    max-width: 1600px;
}

.navigation__menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    font-family: "Poppins-SemiBold";
    gap: 140px;
}

.navigation__menu-item {
    position: relative;
}

.navigation__menu-item::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -4px;
    left: 0;
    transition: width 0.25s ease;
}

.navigation__menu-item:hover::after {
    width: 50%;
}

.aboutMe {
    display: flex;
    justify-content: center;
    padding-top: 64px;
}

.aboutMe__wrapper {
    width: 100%;
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.aboutMe__wrapper::before {
    display: inline-block;
    content: "";
    position: absolute;
    width: 1px;
    background-color: white;
    height: 100%;
    left: 15px;
}

.aboutMe__link {
    display: flex;
    flex-direction: column;
}

.link__img {
    max-width: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #202124;
    z-index: 1;
    position: relative;
    top: calc(50% - 70px);
}

.about-me__greeting {
    font-family: "Poppins-SemiBold";
    font-size: 32px;
    color: white;
}

.about-me__name {
    font-family: "Poppins-SemiBold";
    font-size: 88px;
    color: #FFA688;
}

.about-me__sub-header {
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    color: #BCBCBD;
    padding-bottom: 44px;
}

.about-me__btn-accent {
    width: 214px;
    height: 56px;
    background-color: #FFA688;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: black;
    font-family: "Poppins-SemiBold";
    margin-right: 15px;
    z-index: 1;
    position: relative;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
}

.about-me__btn-accent::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-680%, 0, 0) rotate(35deg);
}

.about-me__btn-accent:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(250%, 0, 0) rotate(35deg);
}

.about-me__btn {
    width: 214px;
    height: 56px;
    background-color: #202124;
    border: 1px solid #FFA688;
    border-radius: 10px;
    font-size: 24px;
    color: #FFA688;
    font-family: "Poppins-SemiBold";
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    outline: none;
    overflow: hidden;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in;
}

.about-me__btn::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
}

.about-me__btn:hover {
    cursor: pointer;
    color: black;
    background-color: #FFA688;
}

.about-me {
    padding-top: 200px;
}

.profile {
    padding-top: 300px;
    display: flex;
    justify-content: center;
}

.profile__img {
    width: 634px;
    height: 785px;
}

.profile__wrapper {
    width: 100%;
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.profile__info {
    padding-top: 130px;
}

.profile__header {
    font-size: 56px;
    color: #FFA688;
    font-family: "Poppins-SemiBold";
    text-transform: uppercase;
    padding-bottom: 50px;
}

.profile__sub-header {
    font-size: 32px;
    padding-bottom: 40px;
}

.services {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 100px;
}

.services__wrapper {
    width: 100%;
    max-width: 1550px;
    text-align: center;
}

.services__header {
    font-size: 56px;
    font-family: "Poppins-SemiBold";
    color: #FFA688;
    position: relative;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.services__header::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 240px;
    height: 4px;
    background-color: white;
    bottom: -10px;
    left: calc(50% - 120px);
    border-radius: 5px;
    background-color: #FFA688;
}

.cards {
    display: flex;
    justify-content: center;
}

.cards__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.cards__content {
    max-width: 440px;
    height: 440px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #FFA688;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.cards__content:hover {
    transform: scale(1.1);
}

.cards__img {
    padding-top: 40px;
}

.cards__header {
    font-size: 32px;
    font-family: "Poppins-SemiBold";
    color: #FFA688;
    padding-top: 50px;
    padding-bottom: 30px;
}

.cards__sub-header {
    font-size: 22px;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    padding-top: 300px;
    padding-bottom: 100px;
}

.projects__wrapper {
    width: 100%;
    max-width: 1100px;
}

.projects__header {
    color: #FFA688;
    font-size: 56px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    text-transform: uppercase;
}

.cards-projects {
    display: flex;
    justify-content: center;
}

.cards-projects__wrapper {
    width: 100%;
    max-width: 1550px;
}

.cards-projects__list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    gap: 210px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1100px;
}

.cards-projects__item {
    font-size: 32px;
    font-family: "Poppins-SemiBold";
    position: relative;
    padding-bottom: 25px;
}

.cards-projects__item::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: white;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
    background-color: #FFA688;
    transition: width 0.25s ease;
}

.cards-projects__item:hover:after {
    width: 100%;
}

.cards-projects__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 105px;
}

.cards-projects__content {
    width: 430px;
    height: 329px;
    position: relative;
}

.ui-tabs-active::after {
    width: 100%;
}

.cards-links {
    text-decoration: none;
    color: white;
}

.cards-projects__search {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s ease;
    cursor: pointer;
    flex-direction: column;
}

.cards-projects__content:hover .cards-projects__search {
    opacity: 1;
}

.cards-projects__subheader {
    font-family: "Poppins-SemiBold";
    font-size: 32px;
}

.feedback {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.feedback__wrapper {
    width: 100%;
    max-width: 1100px;
}

.feedback__header {
    font-size: 56px;
    color: #FFA688;
    font-family: "Poppins-SemiBold";
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.feedback__header::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 240px;
    height: 4px;
    background-color: white;
    bottom: -10px;
    left: calc(50% - 120px);
    border-radius: 5px;
    background-color: #FFA688;
}

.feedback__container {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    gap: 100px;
}

.feedback__comment {
    font-size: 32px;
    padding-top: 50px;
}


.comment__name {
    font-size: 32px;
    font-family: "Poppins-SemiBold";
    color: #FFA688;
    text-transform: uppercase;
    position: relative;
    left: 280px;
    margin-top: 50px;
}

.comment__name::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 240px;
    height: 4px;
    background-color: white;
    bottom: 22px;
    left: -280px;
    border-radius: 5px;
    background-color: #FFA688;
}

.contact-form__header {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.contact-form__header__wrapper {
    font-size: 56px;
    color: #FFA688;
    font-family: "Poppins-SemiBold";
    position: relative;
}
.contact-form__header__wrapper::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 240px;
    height: 4px;
    background-color: white;
    bottom: -10px;
    left: calc(50% - 120px);
    border-radius: 5px;
    background-color: #FFA688;
}

.contact-form {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.contact-form__wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.contact-form__message-back__name {
    padding-bottom: 50px;
}

.name {
    width: 500px;
    height: 68px;
    background-color: #202124;
    border: 3px solid #FFA688;
    border-radius: 5px;
    font-family: "Poppins-SemiBold";
    font-size: 25px;
    padding-left: 40px;
    color: #FFA688;
}

.name:focus {
    outline: none;
}

.name::placeholder {
    color: #FFA688;

}

.contact-form__message-back__email {
    padding-bottom: 50px;
}

.email {
    width: 500px;
    height: 68px;
    background-color: #202124;
    border: 3px solid #FFA688;
    border-radius: 5px;
    font-family: "Poppins-SemiBold";
    font-size: 25px;
    padding-left: 40px;
    color: #FFA688;
}

.email:focus {
    outline: none;
}

.email::placeholder {
    color: #FFA688;

}

.message {
    width: 500px;
    height: 130px;
    font-family: "Poppins-SemiBold";
    font-size: 25px;
    padding-left: 40px;
    background-color: #202124;
    border: 3px solid #FFA688;
    border-radius: 5px;
    color: #FFA688;
}

.contact-form__message-back__textarea {
    padding-bottom: 50px;
}

.btn {
    width: 500px;
    height: 68px;
    border-radius: 3px;
    border: none;
    background-color: #FFA688;
    font-family: "Poppins-SemiBold";
    color: #202124;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 25px;
    margin-right: 15px;
    z-index: 1;
    position: relative;
    outline: none;
    border: none;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
}

.btn::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-1200%, 0, 0) rotate(35deg);
}

.btn:hover::after {
    transition: transform 0.5s ease-in-out;
    transform: translate3d(750%, 0, 0) rotate(35deg);
}

.contact-form__info__header {
    font-size: 25px;
    font-family: "Poppins-SemiBold";
    color: #FFA688;
}

.contact-form__info__sub-header {
    font-size: 25px;
    padding-bottom: 50px;
}

.contact-form__info__header-1 {
    font-size: 25px;
    font-family: "Poppins-SemiBold";
    color: #FFA688;
    padding-bottom: 15px;
}

.contact-form__info__img__icon {
    padding-right: 30px;
}
.contact-form__info {
    position: relative;
}
.contact-form__info::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 2px;
    height: calc(100% - 100px);
    background-color: #FFA688;
    top: 40px;
    left: -90px;

}
